ul.post-list > li.post-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #303030;
    padding: 30px 12px;
}

a.button-tag {
    display: block;
    padding: 15px 10px;
    background-color: #7fffd4;
    margin-left: 0px;
    float: right;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
}
time {
    font-family: monospace;
}
h3.title {
    margin-bottom: 10px;
}